<a href="https://colab.research.google.com/github/hj2222222/OCR-developer-course/blob/main/%ED%8A%9C%ED%94%8C%2C_input_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 튜풀이란**
여러 가지 데이터 타입의 값을 저장할 수 있는, 변경 불가능(immutable)한 순서가 있는 컬렉션입니다.



1. 생성 :
튜플은 괄호 ()를 사용하여 생성하고, 항목들은 쉼표 ,로 구분됩니다.

2. 인덱싱 :
튜플의 각 항목은 위치(인덱스)를 가지고 있으며, 인덱스를 사용하여 접근할 수 있습니다. 인덱스는 0부터 시작합니다.

3. 슬라이싱 :
튜플의 일부분만을 추출할 수 있습니다.

4. 연산 :
튜플 간의 + 연산으로 리스트를 결합할 수 있고, * 연산으로 리스트를 반복할 수 있습니다.

5. 언패킹 :
튜플의 항목들은 변수들에 할당될 수 있습니다. (리스트도 가능)

6. 멤버십 테스트 :
in 연산자를 사용하여 튜플에 특정 값이 있는지 확인할 수 있습니다. (리스트도 가능)

7. 튜플의 정렬 :
튜플은 sort() 메서드를 제공하지 않습니다. sorted() 함수를 사용합니다.

8. 변환 :
튜플을 리스트로, 리스트를 튜플로 변환할 수 있습니다.

In [ ]:
tu1 = (1,) #원소가 하나일 경우에는 뒤에 ','를 넣어줘야 튜플이 만들어짐 넣지않으면 일반 정수형으로 만들어짐
print(tu1)

# tu1[0] = 100

tu2 = (1, 3, 5, 7)
print(tu2)

tu3 = 1, 3, 5, 7 #해당과 같이 소괄호없이 나열만하면 튜플형으로 간주되어서 튜플이 만들어짐
print(tu3)
print(type(tu3))

tu4 = ('apple', 'banana', ('🍓', '🍉'))
print(tu4)
print(tu4[0])
print(tu4[2][0])
print(type(tu4))

tu4 = ('apple', 'banana', ('🍓', '🍉'))
tu4[0] = 1 # 해당 코드는 에러가 남 이유는 튜플은 변경불가능하기 때문에


tu5 = ('apple', 'banana', ['🍓', '🍉']) #튜플안에는 튜플만 들어갈수있는게 아니라 리스트도 들어갈수있음
print(tu5)
print(tu5[2][0])
print(type(tu5[2]))

(1,)
(1, 3, 5, 7)
(1, 3, 5, 7)
<class 'tuple'>
('apple', 'banana', ('🍓', '🍉'))
apple
🍓
<class 'tuple'>
('apple', 'banana', ['🍓', '🍉'])
🍓
<class 'list'>

In [ ]:
tu1 = (1, 2, 'apple', 'banana')

print(tu1[0])
print(tu1[-1])

print(tu1[1:])
print(tu1[1:3])

1
banana

In [ ]:
tu1 = (10, 20, 30)
tu2 = (40, 50, 60)


print(tu1 + tu2)
print(tu2 + tu1)

tu1 = tu1 + (40, 50)
print(tu1)

print(tu1 * 3)

tu3 = (10, 20, 30)
print(tu3[0] + tu3[2])

(10, 20, 30, 40, 50, 60)
(40, 50, 60, 10, 20, 30)
(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)
40

In [ ]:
apple, banana = ('김사과', '반하나') # 각각 변수로 나누어 저장하는것이 가능함
print(apple)
print(banana)

apple, banana = '김사과', '반하나'
print(apple)
print(banana)

김사과
반하나

In [ ]:
2 in (2, 4, 6, 8, 10)

True

In [ ]:
tu1 = (1, 3, 2, 0)
# tu1.sort() <- 튜플에는 sort라는 메소드가 없음 inplace연산이 불가능하기 때문에

tu1 = sorted(tu1)
print(tu1) #반환형이 리스트기 때문에 튜플로 사용할거면 다시 튜플을 씌워줘야함.

[0, 1, 2, 3]

In [ ]:
tu1 = (1, 2, 3, 4)
print(type(tu1))
li1 = list(tu1)
print(type(li1))
tu2 = tuple(li1)
print(type(tu2))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

#**2. input함수**
* 사용자(개발자)에게 데이터를 입력받을수 있는 함수
* 데이터는 항상 문자형으로 입력됌.

In [ ]:
name = input()
print(name)

dkdk

In [ ]:
name = input('이름을 입력하세요 : ')
print(f'{name}님 안녕하세요')

이름을 입력하세요 : 이혁제
이혁제님 안녕하세요

In [ ]:
#김사과 20 50 -> ['김사과',20,50]
name , age, weight = input('이름 나이 몸무게를 띄어쓰기로 구분하여 입력하세요').split(' ')
print(f'{name}님의 나이는 {age}살이며 몸무게는 {weight}kg 입니다')

이름 나이 몸무게를 띄어쓰기로 구분하여 입력하세요이혁제 27 75
이혁제님의 나이는 27살이며 몸무게는 75kg 입니다

In [ ]:
num1 = input('첫번째 숫자를 입력하세요')
num2 = input('두번째 숫자를 입력하세요')
print('결과 : ',int(num1)+int(num2))

첫번째 숫자를 입력하세요10
두번째 숫자를 입력하세요50
결과 :  60

###문제
* 국어점수 영어점수 수학점수를 입력받아 총점과 평균을 구하는 프로그램을 작성해보자 단 입력 방법은 100/70/85 이런 형태로 진행한다.

In [ ]:
kor, eng, math = input("국어점수 영어점수 수학점수를 '/'로 구분하여 입력하여주세요").split('/')
total = int(kor) + int(eng) + int(math)
avg = total/3
print(f'당신의 총점은 {total}점이고 평균은{avg}점 입니다.')
print('평균 : %.2f' %avg)

국어점수 영어점수 수학점수를 '/'로 구분하여 입력하여주세요100/97/79
당신의 총점은 276점이고 평균은92.0점 입니다.
평균 : 92.00

In [ ]:
a = 10
print(id(a))
a += 5
print(id(a))

135708422898192
135708422898352

In [ ]:
import sys

score = input("국어점수 영어점수 수학점수를 '/'로 구분하여 입력하여주세요")
scores = score.split('/')

try:
    scores.remove('')
except:
  pass

if score.count('/') != 2:
  print('/를 2개사용해 점수를 구분하여 점수를 총 3개 적어주세요')
  sys.exit()
elif len(scores) != 3:
  print('점수를 총 3가지 입력해주세요')
  sys.exit()

try :
  for i in scores:
    scores[i] = int(scores[i])
except:
  print("점수를 숫자로 입력해주세요")

total = 0
for i in scores:
  total += scores[i]

avg = total / len(scores)

print(f'귀하의 총점은 {total}점이고 평균은 {avg}점입니다.')

국어점수 영어점수 수학점수를 '/'로 구분하여 입력하여주세요팔십오/90/90

ValueError: list.remove(x): x not in list

ValueError: invalid literal for int() with base 10: '팔십오'